
/***********=========  Olewin techsolutions ============************/

/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
}

/*Desktop Navigation */

.navbar {
  padding: 0;
  background-color: #008899;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: rgb(0, 0, 0);
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  border: 2px solid #000;
  font-weight: 600;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #008899;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav li {
    width: 100%;
    text-align: left;
  }

  .navbar-nav .dropdown ul {
    position: static;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
  }

  .navbar-nav .dropdown:hover > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  .navbar a,
  .navbar a:focus {
    padding: 10px;
    font-size: 16px;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    padding: 8px 15px;
    margin-left: 0;
  }

  .navbar-nav {
    gap: 0;
  }

  .navbar-nav .dropdown ul {
    padding: 0;
  }

  .navbar-nav .dropdown ul a {
    padding: 10px;
  }
}

.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
}

.main-container{
  background: linear-gradient(to right , (#008899), rgba(151, 224, 27, 0.855));
}

.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
  color: #00205a;
 
}

.slider_section .detail-box p {
  color: #ffff;
  font-size: 18px;
  font-weight: bolder;

}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 200px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background: linear-gradient(to right,rgba(151, 224, 27, 0.855), rgba(0, 0, 0, 0.5 ));
  color: #ffffff;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #0000 ;
  color:#ffff;
  font-size: 18px;
  font-weight: 600;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
          -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
          -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
          box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}


@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

